/* verde botones #aed581;
verde letras #558b2f;
verde letra botón #175d37*/
body{
    height: 100vh;
    width: 100vw;
}
section{
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
}
header{
    background-color: #aed581;
    margin: none;
}
.formulario{
    
    padding-top: 10px;
    font-family: Arial;
    color: #175d37da;
}
.formulario h2{
    margin-top: 0px;
    font-size: 20px;
}
.formulario p{
    font-size: 12px;
    color: #325519;
}
.formulario input{
    font-family: Arial;
    font-size: 13px;
    border-radius: 5px;
    padding: 5px;
    border-color: #175d37;
    

}
.formulario select{
    font-family: Arial;
    font-size: 13px;
    border-radius: 5px;
    padding: 5px;
    border-color: #175d37;
    width: 182px;
}
.formulario textarea{
    font-family: Arial;
    font-size: 13px;
    border-radius: 5px;
    padding: 5px;
    border-color: #175d37;
    width: 200px;
    height: 100px;
}
.inicio h2{
    display: inline;
    margin-left: 70px;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.inicio.desaparecer{
    display: none;
}
.menu{
    display: flex;
    justify-content: space-between;
    height: auto;
}
.menu li{
    color: #175d37;
    font-size: 20px;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    align-items: center;
}
a{
    text-decoration: none;
    color: #175d37;
}
img{
    justify-content: center;
    width: 300px;
    height: 300px;
    display: block;
}
.nada{
        color: #175d37;
}
#addbutton{
    font-size: 20px;
    background-color: #aed581;
    color: #175d37;
    border-radius: 100%;
    border: 0;
    width: 50px;
    height: 50px;
    margin: auto;
    right: 20px;
    bottom: 20px;
    position: fixed;
}
.cerrar{
    font-size: 10px;
    background-color: #c5e1a5;
    color: #175d37;
    border-radius: 100%;
    border: 0;
    width: 30px;
    height: 30px;
    margin: auto;
    right: 10px;
    top: 10px;
    float: right;
    display: inline;
}
#addbutton.inactive{
    display: none;
}
.popup{
    background-color: #aed581;
    padding: 20px;
    border-radius: 10px;
    display: none;
}
.popup.active{
    display: flex;
}
.popup p{
    margin-bottom: 5px;
}
.prioridad{
    width: 10px;
    height: 15px;
    border: none;
    border-radius: 2px;
}

input[type="radio"] {
    appearance: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 3px;
    background-clip: content-box;
    border: none;
    border-radius: 5px;
    
}
.prioridad-baja{
    background-color: #a8a8a8;

}
#contenedor.gris{
    border-right: 5px;
    border-color: #a8a8a8;

}
.prioridad-baja:checked {
    width: 25px;
    height: 25px;
    border: 3px;
    border-color: #929292;
    border-radius: 5px;
}
.prioridad-media{
    background-color: #388e3c;
}

#contenedor.verde{
    border-right: 5px;
    border-color: #388e3c;
}
.prioridad-media:checked {
    width: 25px;
    height: 25px;
    border: 3px;
    border-color: #358338;
    border-radius: 5px;
}
.prioridad-alta{
    background-color: #ff6d00;
}

.prioridad-alta:checked {
    width: 25px;
    height: 25px;
    border: 3px;
    border-color: #e66300;
    border-radius: 5px;
}
.prioridad-urgente{
    background-color: #d50000;
}

.prioridad-urgente:checked {
    width: 25px;
    height: 25px;
    border: 3px;
    border-color: #b30000;
    border-radius: 5px;
}

#contenedor.rojo{
    border-right: 5px;
    border-color: #d50000;
}

#contenedor.naranja{
    border-right: 5px;
    border-color: #ff6d00;
}

#gris.elegida{
    width: 15px;
    height: 20px;
}
#rojo.elegida{
    width: 15px;
    height: 20px;
}
#verde.elegida{
    width: 15px;
    height: 20px;
}
#naranja.elegida{
    width: 15px;
    height: 20px;
}
.finalizar{
    padding: 9px;
    font-size: 12px;
    color: #212121;
    border-radius: 10px;
    margin: auto;
    box-align: right;
    float: right;
    margin: 5px;
    border-color: #175d37;
    border-width: 1px;
}
#crear{
    background-color: #8bc34a;
}
#crear:hover{
    background-color: #558b2f;

}
#cancelar{
    background-color: #c5e1a5;
}
#cancelar:hover{
    background-color: #558b2f;
}
ul{
    padding-inline-start: 10px;
    padding-inline-end: 10px;

}
#contenedor{
    height: fit-content;
    width: 80vw;
    align-content: center;
    background-color: #aed581e0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    border-radius: 10px;
    line-height: 3px;
    margin: 10px;
    align-items: center;
}
.icono{
    width: 70px;
    height: 70px;
    float: left;
    padding-right: 10px;
}

/*.check{
    align-self: center;
    float: right;
    display: inline;
    left: 90px;
    bottom: 90px;
    margin: auto;
}*/
.check:checked{
    background-color: #175d37;
}

.check {
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    background-color: white;
    width: 30px;
    height: 30px;
    appearance: none;
    border: 1px solid #175d37;
    border-radius: 10px;
    float: right;
    display: block;
    margin: 7px 10px 8px 0px;
    
}

.delete{
    font-size: 10px;
    background-color: #aed581e0;
    color:  #175d37;
    border-radius: 100%;
    border: 0;
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 20px;
    float: right;
    display: block;
}
ul.borrame{
    display: none;
}


/*prueba*/



  /*    border: 2px solid blue;
  background-color: blue;